.underline-hover {
    position: relative;
  }
  
  .underline-hover::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 3px; 
    bottom: -3px; 
    left: 0;
    background-color: white; /* Color of the underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .underline-hover:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  .grid_icon{
    width:240px;
}


  
