@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;